<div class="header-block">
    <div class="header-slide">
        <div class="logo-block">
            <div class="logo">
                <img class="img-logo" src="Logo.svg" alt="logo">
            </div>
            <div class="site-name">VRNas</div>
        </div>
        <div class="header-block-menu">
            <div class="btn-home">Home</div>
            <div class="btn-about">About us</div>
            <div class="btn-service">Service</div>
            <div class="btn-page">Page
                <img class="arrow" src="arrow.svg" alt="arrow">
            </div>
            <div class="btn-block">Block
                <img class="arrow" src="arrow.svg" alt="arrow">
            </div>
        </div>
        <div class="btn-contact border-gradient">
            Contact us
        </div>
    </div>
</div>

