<div class="container">
    <div class="first-block">
        <div class="grid-container">
            <div class="grid-element">
                <div class="content-block">
                    <div class="content-model">
                        <div class="base-font fz-64 mt-1">
                            Immerse Yourself in Virtual Reality
                        </div>
                        <div class="base-font gray mt-1 line-h160">
                            Experience Unforgettable Events in VR.
                            Bring your events to <br> life like never before with our VR services
                        </div>
                    </div>
                    <div class="base-font fz-14 grad-pb mt-2 flex-center">
                        DISCOVER MORE
                    </div>
                </div>
                <div class="mono-block">
                    <div class="client-desk">
                        <div class="avatars">
                            <img class="ava1" src="ava1.svg" alt="ava1">
                            <img class="ava2" src="ava2.svg" alt="ava2">
                            <img class="ava3" src="ava3.svg" alt="ava3">
                        </div>
                        <div class="base-font">
                            <div class="client-content-tx">
                                <span>32k+</span> Happy Client   
                            </div>
                            <div class="client-content-img">
                                <img src="Element.svg" alt="element">
                            </div>
                        </div>
                        <div class="prev-vr">
                            <img src="Video.svg" alt="element">
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-element">
                <div class="man-logo">
                    <img class="man" src="Man.svg" alt="man">
                    <div class="light-man">
                        <img src="Light.svg" alt="light">
                    </div>
                </div>
            </div>
        </div>
        <div class="info-block">
            <div class="info-card">
                <div>
                    <img src="VR.svg" alt="vr">
                </div>
                <div class="base-font">
                    <span class="fz-26">Expertise</span> <br>
                    <p>
                        Our team consists of experienced VR developers,
                        designers, and technicians who have a passion for VR
                        and a commitment to delivering quality work and give the best service.
                    </p>
                </div>
            </div>
            <div class="info-card">
                <div>
                    <img src="Cube.svg" alt="vr">
                </div>
                <div class="base-font">
                    <span class="fz-26">Customization</span> <br>
                    <p>
                        Every client is unique, and we believe every VR experience
                        should be too. We'll work with you to create a customized
                        solution that meets your specific needs and goals. 
                    </p>
                </div>
            </div>
            <div class="info-card">
                <div>
                    <img src="HeadVR.svg" alt="vr">
                </div>
                <div class="base-font">
                    <span class="fz-26">Service</span> <br>
                    <p>
                        We believe in providing exceptional customer service, from 
                        initial consultation to final delivery. Our goal is to ensure
                        you're satisfied with every aspect of your VR experience.    
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>